* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #fff;
}
body {
  margin: 0;
}
#full-size-h {
  text-align: center;
  font-size: 1.5em;
  color: #000;
}
.container {
  /* display: none; */
  border: 2px solid  #000;
  background-color: #b2d1d3;
  margin: 0;
  height: 500px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ctra {
  border: 2px solid  #000;
  background-color: #d36c18d7;
  width: 80%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
.ctra-box {
  border: 2px solid  #000;
  background-color: #40500767;
  width: 20%;
  height: 60px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2px;
}
.tctra_col {
  background-color: #b4eb9b67;
  width: 20%;
  height: 40px;
  gap: 2px;
  display: flex;
  align-items: flex-start;
}


/* ----------------------------------Grid template columns */
.grid {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards {
  border-radius: 8px;
  padding: 5px;
  background-color: #353535;
  margin: 2px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
}
.card {
  background-color: #FFFFFF;
  height: 200px;
  border-radius: 3px;
}
.card > a {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ----------------------------------Grid template columns */

@media (max-width: 500px) {
    
    body{
      background-color: rgb(253, 253, 253);
      margin: 0 10px auto;
    }

  #full-size-h {
    color: rgb(0, 0, 0);
    font-size: small;
    font-style: italic;

  }
} 