* {
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  font-size: 16px;
  color: #fff;
}
.container {
  display: flex;
  margin: 0 auto;
  padding: 20px;
}

#profile-ctr {
  margin: 0 auto;
  padding: 5px;
  max-width: 440px;
  background: #00629b77;
}

#profile-ctr div {
  padding: 20px tomato;
  /* border: 5px solid #3C6E71; */
  color: #fff;
} 
#profile-ctr img {
  padding-right: 5px solid blue;
  width: 20vw;
  height: 20%;
  padding: 0px 0px 0px 0px;
}
p {
  /* justify-content: right; */
  margin-left: 2px;
  width: 10vh auto;
  letter-spacing: 10px;
  font-weight: bold; 
}

#full-size-h,
#h {
color: #555;
/* font-family: 'Courier New', Courier, monospace; */
font-style: italic;
text-align: center;
font-size: small;
}

@media (max-width: 500px) {
    
    body{
      background-color: #555;
      margin: 0 10px auto;
    }
  
  .profile-ctr {
    background: #f3f3f33a;
    grid-template-columns: auto;
  }
  img {
    width: 50px;
    height: 100%;
    padding: 1vh; 
  }  
  #full-size-h {
    color: rgba(6, 238, 238, 0.308);
    font-size: small;
    font-style: italic;

  }
} 