* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
body, main {
  margin: 0;
}
h2 {
  margin: 0;
}
nav li a{
  color: #000;
  list-style: none;
  text-decoration: none;
}
#full-size-h {
  text-align: center;
  font-size: 1.5em;
  color: #000;
}
.container {
  /* display: none; */
  border: 2px solid  #000;
  background-color: #b2d1d3;
  margin: 0;
  height: 500px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ctra {
  border: 2px solid  #000;
  background-color: #d36c18d7;
  width: 80%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
.ctra-box {
  border: 2px solid  #000;
  background-color: #40500767;
  width: 20%;
  height: 60px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2px;
}
.tctra_col {
  background-color: #b4eb9b67;
  width: 20%;
  height: 40px;
  gap: 2px;
  display: flex;
  align-items: flex-start;
}


/* ----------------------------------Grid template columns */
.grid {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards {
  border-radius: 8px;
  padding: 5px;
  background-color: #353535;
  margin: 2px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
}
.card {
  background-color: #FFFFFF;
  height: 200px;
  border-radius: 3px;
}
.card > a {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ----------------------------------page2 */
.Sub_containerB {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: content-box;
}
.t_container {
  display: table;
  content: " ";
  clear: both;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 100%;
}
a, b, blockquote, center, code, div, h1, h2, h3, h4, h5, h6, i, img, p, pre, span, table, td, th, tr, u, video  {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: content-box;
}
.t404__col {
  margin-bottom: 40px;
}
.t-col {
  border: 2px solid;
  text-align: left;
  display: inline;
  float: left;
  /* margin-left: 20px;
  margin-right: 20px; */
  width: 100%;
}
.t-col_6 {
  max-width: 560px;
}
.t-align_left{
  text-align: left;
}
.t404__link{
  text-decoration: none;
  color: #000;
}
.t404__imgbox {
  position: relative;
}
.t404__imgbox img{
  width: 100%;
  height: auto;
}
.t404__separator{
  height: 50px;
}
.t404__textwrapper{
  margin-bottom: 28px;
  margin-top: 16px;
}
.t404__uptitle {
  margin-top: 12px;
  margin-bottom: 10px;
}
.t-uptitle{}
.t404__tag{}
.t404__date{}
.t404__title {}
.t-heading {}
.t-heading_xs{}
.t404__descr {}
.t-descr {}
.t-descr_xs{}
.t404__col {}
.t-col {}
.t-col_6 {}
.t-align_left{}

/* ----------------------------------page2 */
/* ----------------------------------Grid template columns */

@media (max-width: 500px) {
    
    body{
      background-color: rgb(253, 253, 253);
      margin: 0 10px auto;
    }

  #full-size-h {
    color: rgb(0, 0, 0);
    font-size: small;
    font-style: italic;

  }
} 